{{extend 'layout.html'}}

<gongos-navbar v-cloak key="navbar"></gongos-navbar>
<gongos-hero v-cloak key="hero" :hero-class="heroClass" :title="title" :subtitle="subtitle" :is-loading="isLoading">
</gongos-hero>


<section v-show="isLoading || cards.length > 0" class="main-content" key="main-content">
    <div>
        <transition-group name="fade" mode="out-in" key="loading-trans">
            <div v-show="isLoading" class="hero is-dark is-radiusless" key="loading-content">
                <div class="hero-body">
                    <div class="container">
                        <progress class="progress is-large is-danger" :value="loadCompleted" max="100">{% loadCompleted %}</progress>
                    </div>
                </div>
            </div>
            <div v-show="!isLoading" class="columns" key="chart-content">
                <div class="column is-2">
                    <gongos-panel v-show="cards.length > 0" key="panel"></gongos-panel>
                </div>
                <div class="column is-10">
                    <div class="columns is-multiline">
                        <gongos-card :card-title="card.title" :card-size="card.size" v-for="(card, index) in cards" :key="'card_' + index">
                            <template>
                                <chart :auto-resize="true" :options="card.chartType" ref="chart"></chart>
                            </template>
                        </gongos-card>
                    </div>
                </div>
            </div>
            
        </transition-group>
    </div>
</section>

{{block component_js}}
<!-- eventbus -->
<script type="text/babel" data-presets="es2015,stage-2" data-plugins="transform-es2015-modules-umd" src="{{=URL('static','js/app/components/eventbus.js')}}"></script>
<!-- nav -->
<script type="text/babel" data-presets="es2015,stage-2" data-plugins="transform-es2015-modules-umd" src="{{=URL('static','js/app/components/gongos-navbar.js')}}"></script>
<!-- hero -->
<script type="text/babel" data-presets="es2015,stage-2" data-plugins="transform-es2015-modules-umd" src="{{=URL('static','js/app/components/gongos-hero.js')}}"></script>
<!-- content -->
<script type="text/babel" data-presets="es2015,stage-2" data-plugins="transform-es2015-modules-umd" src="{{=URL('static','js/app/components/gongos-content.js')}}"></script>
<!-- card -->
<script type="text/babel" data-presets="es2015,stage-2" data-plugins="transform-es2015-modules-umd" src="{{=URL('static','js/app/components/gongos-card.js')}}"></script>
<!-- panel -->
<script type="text/babel" data-presets="es2015,stage-2" data-plugins="transform-es2015-modules-umd" src="{{=URL('static','js/app/components/gongos-panel.js')}}"></script>
<!-- charts -->
<script type="text/babel" data-presets="es2015,stage-2" data-plugins="transform-es2015-modules-umd" src="{{=URL('static','js/app/components/gongos-charts.js')}}"></script>
{{end}}
