<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{=response.title or request.application}}</title>
    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="{{=request.application}}">
    <!-- include stylesheets -->
    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">
    <script src="{{=URL('static','js/modernizr-2.8.3.min.js')}}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{=URL('static', 'css/vendor/bulma.css')}}">
    <link rel="stylesheet" href="{{=URL('static', 'css/app/main.css')}}">
  </head>
  <body class="has-navbar-fixed-top">
    <!--[if lt IE 8]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    
    <div id="main" v-cloak>
      <transition-group name="fade" appear>
        {{ include }}
      </transition-group>
    </div>
    
    <script>
      const GETDATA = '{{=URL("default", "get_data")}}'
      const BASE = '{{=URL("default", "index")}}'
    </script>
    <!-- babel -->
    <script src="{{=URL('static','js/vendor/babel.min.js')}}"></script>
    <script src="{{=URL('static','js/vendor/babel-polyfill.min.js')}}"></script>
    <!-- es6-promise polyfill -->
    <script src="{{=URL('static','js/vendor/es6-promise.min.js')}}"></script>
    <script src="{{=URL('static','js/vendor/es6-promise.auto.min.js')}}"></script>
    <!-- lodash -->
    <script src="{{=URL('static','js/vendor/lodash.min.js')}}"></script>
    <!-- vue -->
    <script src="{{=URL('static','js/vendor/vue.js')}}"></script>
    <!-- vuex -->
    <script src="{{=URL('static','js/vendor/vuex.js')}}"></script>
    <!-- vue-router -->
    <script src="{{=URL('static','js/vendor/vuex.js')}}"></script>
    <!-- axios -->
    <script src="{{=URL('static','js/vendor/axios.min.js')}}"></script>
    <!-- vue echarts -->
    <script src="{{=URL('static','js/vendor/vue-echarts.js')}}"></script>
     {{block component_js}}{{end component_js}}
    <!-- app.js -->
    <script type="text/babel" data-presets="es2015,stage-2" data-plugins="transform-es2015-modules-umd" src="{{=URL('static','js/app/app.js')}}"></script>
  </body>
</html>
