html,
body {     
    height: 100%;
}
html {
    overflow-y: auto;
}
body {
    /* hacky calc for fix nav at 52px */
    height: calc(100% - 52px);
    background-color: #363636;
}
[v-cloak] {
    display: none;
}
.hero {
    margin-top: 52px;
}
.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}
.fade-enter,
.fade-leave-to
{
    opacity: 0;
}
.main-content {
    height: 100%;
    background-color: #363636;
}
.card {
    width: 100%;
    background-color: rgba(255,255,255,0.1);
}
.echarts {
    width: 100% !important;
}
