html {
    overflow-y: auto;
}
[v-cloak] {
    display: none;
}
.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}
.fade-enter,
.fade-leave-to
{
    opacity: 0;
}
.card {
    width: 100%;
}
.echarts {
    width: 100% !important;
}
